#Item {
  margin-top: 4rem;
  width: 60rem;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/*! ItemInfo */
#ItemInfo {
  width: 50rem;
  margin-top: 4rem
}
#ItemInfo .item-container {
  width: 50rem;
  /* height: 50rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
#ItemInfo .item-image {
  width: 45rem;
  height: 30rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}
#ItemInfo .item-image > img {
  width: 45rem;
  height: 30rem;
  object-fit: contain;
  border-radius: 15px;
}
#ItemInfo .item-info {
  width: 45rem;
  font-size: 1.2rem;
}
#ItemInfo .username {
  width: 45rem;
  height: 5rem;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
#ItemInfo .title {
  margin-top: 2rem;
  font-size: 2rem;
}
#ItemInfo .price {
  margin-top: 1rem;
}
#ItemInfo .comments {
  margin-top: 1rem;

}


/*! Others */
#Others {
 width: 50rem;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.others-container {
  width: 12rem;
  height: 18rem;
  margin: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#Others .item-image {
  width: 12rem;
  height: 12rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Others .item-image > img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 10px;
  
}
#Others .others-contents {
  margin-top: 1rem;
}