#Login {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background-color: rgb(255, 255, 255);

}
#Login .container {
  width: 60rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

}
#Login .box {
  width: 22rem;
}
#Login .box:first-child {
  text-align: center;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#Login .box:first-child > .content1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.8rem;
}
#Login .box:last-child {
  height: 35rem;
}