/*! EditUserName */
.editProfileModal {
  width: 25rem;
  height: 13rem;
  /* border: 1px solid black; */
  border-radius: 15px;
  background-color: #555860;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  color: white;
  font-weight: 600;
}

.editProfileModal-box {
  /* border: 1px solid black; */
}
.editProfileModal-box:nth-child(1){
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}
.editProfileModal-box:nth-child(2){
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.editProfileModal-box:nth-child(2) > div{
  /* margin: 0.5rem 0 1rem 1rem */
  padding: 0 1rem;
  margin: 0.2rem 0
}
.editProfileModal-box:nth-child(2) > div:first-child {
  padding-left: 1.5rem;
}
.editProfileModal-box:nth-child(2) input {
  height: 2rem;
  width: 22rem;
  outline: none;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}
.editProfileModal-box:nth-child(3){
  flex: 0 1 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 0.8rem;
  padding-bottom: 0.5rem
}
.editProfileModal-box:nth-child(4){
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #494c54;
  border-radius: 0 0 15px 15px;

  
  
}
.editProfileModal-box:nth-child(4) > div {
  /* border: 1px solid black; */
  border-radius: 5px;
  width: 5rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;

}
.editProfileModal-box:nth-child(3) > div:nth-child(1){}
.editProfileModal-box:nth-child(4) > div:nth-child(2){
  background-color: #5765f2;
}