@media screen and (max-width: 980px) {
  #MenuIcon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  #MenuIcon .bar { 
    background-color: black;
    padding: 1.8px 15px;
    margin: 2.8px;
  }

}

