#PostTemplate {
  width: 40rem;
  height: 100%;
  /* border: 1px solid black */
}
.postTemplate-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.postTemplate-box {

  width: 100%;
}
.postTemplate-box:nth-child(1) {
  flex: 0 1 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.postTemplate-box:nth-child(2) {
  flex: 1 1 0;
}
.postTemplate-box:nth-child(2) form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postTemplate-box:nth-child(2) .userInput {
  width: 100%;
  /* border: 1px solid red; */
  font-size: 1rem;
  margin-top: 1rem;
}
.postTemplate-box:nth-child(2) .userInput > input {
  width: 36rem;
  height: 2rem;
  outline: none;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding-left: 1rem;
}
.postTemplate-box:nth-child(2) .userInput > textarea {
  width: 35.2rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 1rem;
  margin-left: 0.5rem;
  resize: none;
}
.postTemplate-box:nth-child(2) .title {
  flex: 0 1 5rem;

}
.postTemplate-box:nth-child(2) .title > input {

}
.postTemplate-box:nth-child(2) .price {
  flex: 0 1 5rem;

}
.postTemplate-box:nth-child(2) .comments {
  flex: 1 1 0;

}
.postTemplate-box:nth-child(2) .picture {
  flex: 0 1 10rem;

}
.postTemplate-box:nth-child(2) .picture img {
  width: 4rem;
  height: 4rem;
}
.postTemplate-box:nth-child(3) {
  flex: 0 1 5rem;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#btn-submit {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-submit > input{
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3672d3;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}