#Footer {
  border: 1px solid black;
  width: 100vw;
  flex: 0 1 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
#Footer .container {
  border: 1px solid black;
  width: 60rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Footer .box {
  border: 1px solid black;
  height: 5rem;
}
#Footer .box:first-child {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}
#Footer .box:first-child > img {
  width: 3rem;
}
#Footer .box:last-child {
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Footer .contents {
  border: 1px solid black;
  width: 30rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}
#Footer .contents a {
  margin-left: 0.3rem;
}