.nav-container {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.nav-box {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem
}
.nav-title {

}
.nav-title span {
  margin-left: 0.4rem
}
.nav-user {
  width: 8rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav-user .bar {
  width: 1px;
  height: 15px;
  background-color: black;
}
@media all and (max-width: 768px) {
}