#RegisterModal {
  border: 1px solid rgb(0, 0, 0, 0.4);
  width: 22rem;
  height: 30rem;
  border-radius: 20px;
}
#RegisterModal .modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  
}
/* #RegisterModal .modal-box {
  width: 19rem;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 7px;
  margin: 0.2rem;
} */
#RegisterModal .modal-box {
}
#RegisterModal .modal-box:first-child {
  flex: 0 1 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
#RegisterModal .modal-box:first-child > div:not(:last-child) {
  width: 19rem;
  height:2.5rem;
  margin: 0.5rem 0
}
#RegisterModal .modal-box:first-child input {
  width: 17.6rem;
  height: 2.1rem;
  font-size: 1rem;
  padding-left: 1rem;
  outline: none;
  border-radius: 7px;
}
#RegisterModal .modal-box:nth-child(2) {
  flex: 0 1 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#RegisterModal .err-msg {
  color: red;
  font-size: 0.8rem;
  font-weight: 700;
}
#RegisterModal .modal-box:last-child {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#RegisterModal .modal-box:last-child > div:first-child {
  width: 19rem;
  height: 2.5rem;
  background-color: red;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}
#RegisterModal .modal-box:last-child > div:last-child {
  width: 19rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
#RegisterModal .modal-box:last-child > div:last-child span {
  margin: 0 0.2rem
}
#RegisterModal .modal-box:last-child > div:last-child a {
  font-weight: 700;
}